* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	width: 100%;
	
}

/********************
		Header
********************/

#header {
	background-color: #fafafa;
	padding-bottom: 13%;
	margin-bottom: 15%;
}

#header h2{
	text-align: center;
	font-weight: 800;
	padding-top: 7%;
	margin-bottom: 7%;
}

#header ul {
	text-align: center;
	width: 92.5%;
	margin: auto;
	margin-bottom: 13%;
}

#header li {
	
	line-height: 3.2;
	font-weight:600;
	background-color: white;
	margin-bottom: 2%;
	list-style: none;
	
}

#header img {
	width: 65%;
	height: 200px;
	margin-left: 17.5%;
	margin-bottom: 9%;
}

#header p {
	text-align: center;
	line-height: 1.5;
	color: grey;
	width: 95%;
	margin: auto;
}

/********************
		Body
********************/

#body-div h4 {
	text-align: center;
	margin-bottom: 15%;
}

#body-div img {
	width: 95%;
	margin-left:2.5%;
}

#marketing-h3 {
	margin-top:10%;
	margin-bottom: 8%;
	text-align: center;
}

#marketing-p {
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	color:black;
	line-height: 1.5;
	margin-bottom: 10%;
}

#search-page-h3 {
	text-align: center;
	margin-top:10%;
	margin-bottom: 8%;
	
}

#search-page-p {
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 10%;
}

#travel-app-h3 {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 8%;
}

#travel-app-p {
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 10%;
}

#map-h3 {
	text-align: center;
	margin-bottom: 8%;
	margin-top: 10%;
}

#map-p {
	text-align: center;
	width: 95%;
	margin-left: 2.5%;
	line-height: 1.5;
	margin-bottom: 10%;
}

#photo-h3 {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 8%;
}

#photo-p {
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 10%;
}

#calculator-h3 {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 8%;
}

#calculator-p {
	width: 95%;
	text-align: center;
	margin-left: 2.5%;
	line-height: 1.5;
	margin-bottom: 20%;	
}

/********************
		Footer
********************/

#footer-div {
	background-color: #fafafa;
}

#contact-p {
	font-weight: 700;
	text-align: center;
	margin-bottom: 12%;
	padding-top: 20%;
}
#p-2 {
	text-align: center;
	line-height: 1.5;
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 10%;
}

#p-3 {
	text-align: center;
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 8%
}

#p-4 {
	width: 95%;
	margin: 2.5%;
	text-align: center;
	margin-bottom: 20%;
}

hr {
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 10%;
}

#footer-base {
	display: flex;
	justify-content: space-between;
	padding-bottom: 12%
}

#base-1-p {
	width: 47.5%;
	margin-left: 2.5%;
	font-weight: 800;
}

#base-2-h5 {
	width: 47.5%;
	margin-right: 2.5%;
	font-weight:800;
	text-align: right;
	}

#footer-base a {
	display: none;
	}


/********************
	Media Queries
********************/

@media only screen and (min-width: 320px) {
	body{
/*		color: blue;*/
	}
}

@media only screen and (min-width: 450px) {
	body{
/*		color: blue;*/
		
	}
	
	#header ul {
		margin-top: -2.5%;
	}
	
	#header li{
		display: inline;
		margin-left: 2%;
		margin-right: 2%;
		background-color: #fafafa;
	}
	
	#header img {
		width: 50%;
		float: right;
		margin-right: 2.5%;
		margin-top: -5%;
	}
	
	#header p {
		margin-left: 2.5%;
		width: 45%;
		text-align: left;
		margin-top: -5%;
		
	}
}

@media only screen and (min-width: 600px) {
	body {
/*		color: blue;*/
	}
	
	#header img {
		height: 220px
	}
}

@media only screen and (min-width: 768px) {
	body {
/*		color: blue;*/
	}
	
	/***** Header *****/
	
	#header {
		overflow: hidden;
		padding-bottom: 1%;
		margin-bottom: 4%;
	}
	
	#header h2 {
		margin-top: -3%;
	}
	
	#header ul {
		margin-top: -6%;
	}
	
	#header li {
		display: inline;
		margin-left: 2%;
		margin-right: 2%;
		background-color: #fafafa;
	}
	
	#header img {
		width: 40%;
		height: 250px;
		display: inline;
		float: right;
		margin-top: -7%;
		margin-right: 2.5%;
	}
	
	#header p {
		text-align: left;
		position:absolute;
		width: 55%;
		margin-left: 2.5%;
		line-height: 2;
		letter-spacing: 1.7px;
		margin-top: -7%;
		
	}
	
	/***** Body *****/
	
	#body-div {
		overflow: hidden;
	}
	
	#body-div h4 {
		margin-top: 5%;
		margin-bottom: 7%;
	}
	
	.columns {
		width: 50%;
	}
	
	.columns img {
		margin-bottom: -3%;
		margin-top: 2%
	} 
	
	.columns h3 {
		
	}
	
	.columns p {
		width: 40%;
		letter-spacing: .5px;
		margin-top: -2%;
		padding-bottom: 5%;
		
	}
	
	#travel-app-p {
		width: 82%;
		margin-left: 9%;
	}
	
	#search-page-p {
		width: 82%;
		margin-left: 9%;
	}
	
	#map-p {
		width: 82%;
		margin-left: 9%;
	}
	
	#photo-p {
		width: 82%;
		margin-left: 9%;
	}
	
	#calculator-p {
		width: 82%;
		margin-left: 9%;
	}
	
	.columns:nth-child(even) {
		float:left;
	}
	
	.columns:nth-child(odd) {
		float:left;
	}
	
	/***** Footer *****/
	
	#contact-p {
		padding-top: 10%;
		margin-bottom: 8%
	}
	
	#p-2 {
		width:85%;
		margin-left: 7.5%;
		font-size: 1.5em;
		margin-bottom: 7%
	}
	
	#p-3 {
		font-size: 1.5em;
		margin-bottom: 4%;
	}
	
	#p-4{
		font-size: 1.5em;
		margin-bottom: 10%;
	}
	
	#base-2-h5 {
		display: none;
	}
	
	#footer-base a {
		display: inline;
		margin-top: -5%;
	}
	
	#first-a {
		margin-left: 15%;
		
	}
	
	#base-1-p {
		margin-top: -5%;
	}
	
	#footer-base a {
		text-decoration: none;
		color: black;
		font-weight: 600;
		margin-right: 2.5%;
	}
}

@media only screen and (min-width:575px) {
	body {
/*		color: blue;*/
		
	}
	
	#body-div {
		overflow: hidden;
	}
	
	.columns:nth-child(even) {
		float:left;
		width: 45%;
		margin-left: 2.5%;
		
	}
	
	.columns:nth-child(odd) {
		float:left;
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%
	}
}


@media only screen and (min-width:1024px) {
	body {
/*		color: blue;*/
/*		overflow: hidden;*/
	}
	
	#whole-body {
		background-color: #fafafa;
	}
	
	#body-div {
		background-color: white;
		width: 98%;
		margin: auto;
	}
	
	#header h2 {
		width: 40%;
		margin-left: -6%;
	}
	
	#header ul {
		width: 40%;
		margin-right: -2%;
		margin-top: -11%;
	
		
	}
	
	#header p {
		margin-left: 5%;
		width: 50%;
		line-height: 1.7;
		letter-spacing: 2.0px;
	}
	
	#header img {
		margin-right: 5%;
		width: 35%;
		margin-bottom: 5%;
	}
	
	#flex-div {
		display: flex;
	}
	
	#flex-div2 {
		display: flex;
	}
	
	/***** Footer *****/
	
	#contact-p {
		padding-top: 5%;
	}
	
	
	#p-2 {
		margin-top: -6%;
		width: 61%;
		margin-left: 19.5%;
	}
	
	#p-3 {
		margin-top: -2%;
	}
	
	#p-4 {
		margin-top: -2%;
	}
	
	#base-1-p {
		margin-top: -7%
	}
	
	#footer-base a {
		margin-top: -7%;
		margin-right: 2.5%;
	
	}
	
	#footer-base {
		padding-bottom: 2%;
	}
	
	
	
	
	
	
	
	
	
}